<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">El antihéroe</h1>
        <p class="lead">
            En la historia, en la literatura y en la vida real, el antagonista del héroe es el antihéroe, Representa los valores opuestos: el hombre gris y mediocre, sin agallas, que no asume riesgos, sin ideales y que no generan ninguna admiración en los demás. Al ser el polo opuesto al héroe, en ocasiones tiene un comportamiento miserable y moralmente reprobable.
            
            Si bien el antihéroe no tiene rasgos nobles y desde un punto de vista racional no tiene nada que llame la atención, en la práctica algunos antihéroes tienen algo especial. Prueba de ello es la atracción por la figura del malvado, un personaje perverso e inclinado hacia el mal y, paradójicamente, puede resultar interesante para el espectador.</p>
    </div>
    <div class="carousel-item active">
        <img src="assets/aquaman.png" class="d-block w-125" alt="...">
    </div>
</div>