<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="p-3 mb-3 bg-secondary text-white"></div>



    <h1 class="animate__ animated animate__bounce"> HEROES</h1>

    <i class="fa-brands fa-twitter"></i>



    <div class="p-2 mb-3 bg-secondary-subtle text-emphasis-secondary"></div>


    <h5 class="animate__animated animate__bounce">Un héroe es aquella persona que se comporta de manera valerosa y con
        determinación. Su actitud heroica puede
        estar motivada por un afán de gloria, por un deseo de justicia o por unas convicciones muy firmes.</h5>
    <h5 class="animate__animated animate__bounce">Se considera que alguien es un héroe porque no manifiesta temor ante
        una situación adversa o peligrosa.
        Aparentemente no tiene miedo o es capaz de controlarlo. En cualquier caso, supera el temor y afronta el riesgo
        sabiendo que corre un peligro y el fracaso es bastante probable. En este sentido, para que un acto sea heroico
        debe incorporar algún elemento excepcional y normalmente el héroe es aquel con escasas posibilidades de éxito y,
        a pesar de ello, está dispuesto a superar las dificultades que se le presentan.</h5>
    <h5 class="animate__animated animate__bounce">La idea de héroe está asociada a algunos personajes de la historia
        (grandes guerreros como El Cid Campeador o
        Aníbal y líderes como Simón Bolivar, Espartaco o Gandhi). Sin embargo, ha habido personas anónimas que se han
        convertido en héroes ( Rosa Parks era una humilde trabajadora negra en EEUU y al negarse a ceder su asiento en
        el autobús a un blanco se convirtió en una heroína entre los negros que se oponían a la segregación racial).
    </h5>




    <div class="carousel-item active">
        <img src="assets/aquaman.png" class="d-block w-125" alt="...">
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>